In [1]:
import numpy as np
import pandas as pd

In [2]:
books = pd.read_csv("C:\\Users\\hp\\Downloads\\archive (2)\\Books.csv")

C:\Users\hp\AppData\Local\Temp\ipykernel_21408\1652968701.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("C:\\Users\\hp\\Downloads\\archive (2)\\Books.csv")

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [5]:
books=books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher']]

In [6]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada

In [7]:
books.rename(columns={'Book-Title':'Title','Book-Author':'author','Year-Of-Publication':'Year', 'Publisher':'publisher'},inplace=True)

In [9]:
books.head(2)
books.rename(columns={'Year':'year'},inplace=True)

In [10]:
books.head(2)

,ISBN,Title,author,year,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada

In [11]:
users=pd.read_csv("C:\\Users\\hp\\Downloads\\archive (2)\\Users.csv")

In [12]:
users.head(2)
users.rename(columns={'User-ID':'user_id','Location':'location','Age':'age'}, inplace=True)

In [13]:
users.head(2)

   user_id                   location   age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [14]:
ratings=pd.read_csv("C:\\Users\\hp\\Downloads\\archive (2)\\Ratings.csv")

In [15]:
ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [16]:
ratings.rename(columns={'User-ID':'user_id','Book-Rating':'rating'}, inplace=True)

In [17]:
ratings.head(2)

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5

In [18]:
books.shape

(271360, 5)

In [19]:
users.shape

(278858, 3)

In [20]:
ratings.shape

(1149780, 3)

In [22]:
ratings['user_id'].value_counts().shape

(105283,)

In [23]:
x=ratings['user_id'].value_counts()>200

In [31]:
y = x[x].index

In [32]:
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727, 268622,
       188951],
      dtype='int64', name='user_id', length=899)

In [36]:
ratings=ratings[ratings['user_id'].isin(y)]

In [37]:
ratings.shape

(526356, 3)

In [38]:
ratings.head()

      user_id        ISBN  rating
1456   277427  002542730X      10
1457   277427  0026217457       0
1458   277427  003008685X       8
1459   277427  0030615321       0
1460   277427  0060002050       0

In [39]:
ratings_with_books=ratings.merge(books, on='ISBN')

In [48]:
ratings_with_books.shape

(487671, 7)

In [52]:
number_rating=ratings_with_books.groupby('Title')['rating'].count().reset_index()

In [56]:
number_rating.rename(columns={'rating':'number of ratings'}, inplace=True)

In [61]:
final_rating=ratings_with_books.merge(number_rating, on='Title')

In [62]:
final_rating.shape

(487671, 8)

In [65]:
final_rating=final_rating[final_rating['number of ratings']>50]

In [67]:
final_rating.shape

(59903, 8)

In [69]:
final_rating.drop_duplicates(['user_id','Title'], inplace=True)

In [71]:
final_rating.shape

(57952, 8)

In [73]:
book_pivot=final_rating.pivot_table(columns='user_id',index='Title', values='rating')

In [75]:
book_pivot.fillna(0, inplace=True)

In [77]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [79]:
from scipy.sparse import csr_matrix
book_sparse=csr_matrix(book_pivot)

In [81]:
type(book_sparse)

scipy.sparse._csr.csr_matrix

In [83]:
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(algorithm='brute')

In [84]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [85]:
distances, suggestions=model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1), n_neighbors=6)

In [86]:
suggestions

array([[237, 173, 277, 356, 507, 296]], dtype=int64)

In [91]:
for i in range(len(suggestions)):
    print(book_pivot.index[suggestions[i]])

Index(['Hemlock Bay', 'Exclusive', 'Jacob Have I Loved', 'No Safe Place',
       'The Cradle Will Fall', 'Last Man Standing'],
      dtype='object', name='Title')

In [93]:
book_pivot.index[35]

'All Around the Town'

In [95]:
np.where(book_pivot.index=='All Around the Town')[0][0]

35

In [105]:
def recommend_book(book_name):
    book_id=np.where(book_pivot.index==book_name)[0][0]
    distances, suggestions=model.kneighbors(book_pivot.iloc[400,:].values.reshape(1,-1), n_neighbors=6)

    for i in range(len(suggestions)):
        if i==0:
            print("The suggestions for", book_name,"are :")
        if not i:
            print(book_pivot.index[suggestions[i]])

In [107]:
recommend_book('All Around the Town')

The suggestions for All Around the Town are :
Index(['Rising Sun', 'No Safe Place', 'Fatal Cure', 'Absolute Power',
       'Long After Midnight', 'Exclusive'],
      dtype='object', name='Title')

In [109]:
book_pivot.index[5]

'A Bend in the Road'

In [103]:
book_pivot.index

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       '84 Charing Cross Road', 'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Title', length=703)